/* animation */

@keyframes myscrollbar {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

@keyframes glowing {
  0% {
    background-color: var(--electric-blue);
    box-shadow: 0 0 10px var(--fluorescent-cyan);
  }
  50% {
    background-color: var(--electric-blue);
    box-shadow: 0 0 20px var(--fluorescent-cyan);
  }
  100% {
    background-color: var(--electric-blue);
    box-shadow: 0 0 10px var(--fluorescent-cyan);
  }
}

@keyframes stop {
  to {
    background-color: var(--electric-blue);
    box-shadow: 0 0 0px var(--fluorescent-cyan);
  }
  from {
    background-color: var(--electric-blue);
    box-shadow: 0 0 20px var(--fluorescent-cyan);
  }
}

@keyframes glow {
  0% {
    -webkit-filter: drop-shadow(0px 5px 10px var(--electric-blue));
    filter: drop-shadow(0px 5px 10px var(--electric-blue));
  }
  50% {
    -webkit-filter: drop-shadow(0px 10px 15px var(--electric-blue));
    filter: drop-shadow(0px 10px 18px var(--electric-blue));
  }
  100% {
    -webkit-filter: drop-shadow(0px 5px 10px var(--electric-blue));
    filter: drop-shadow(0px 5px 10px var(--electric-blue));
  }
}

@keyframes movement {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes text-effect {
  50%,
  60% {
    transform: translateX(var(--word-element-length));
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes starting-animation {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes starting-heading {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes starting-paragraph {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes starting-image {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

@keyframes about-img {
  0% {
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes about-info-animation {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

#services.show .heading {
  animation: fade-in-top 2s;
}

#portfolio.show h1 {
  animation: fade-in-top 2s;
}

#contact.show .heading {
  animation: fade-in-top 2s;
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-120px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#services.show #service-container {
  animation: fade-in-bottom 2s;
}

#portfolio.show #card-container {
  animation: fade-in-bottom 2s;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#contact.show .contact-container .pricing-card:nth-child(1) {
  animation: left-to-right 2s;
}

@keyframes left-to-right {
  0% {
    transform: translatex(-120px);
    opacity: 0;
  }

  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

#contact.show .contact-container .pricing-card:nth-child(2) {
  animation: right-to-left 2s;
}

@keyframes right-to-left {
  0% {
    transform: translatex(120px);
    opacity: 0;
  }

  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

.bubble {
  position: absolute;
  background-color: rgba(0, 255, 247, 0.438);
  border-radius: 50%;
  box-shadow: inset -7px -7px 15px rgba(255, 255, 255, 0.3),
    5px 5px 3px rgba(0, 0, 0, 0.07);
  animation: up 12s linear infinite;
  top: 600px;
  left: 1000px;
  cursor: pointer;
}

.bubble:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 255, 247, 0.438);
  border-radius: 50%;
  width: 25px;
  height: 20px;
  left: 15px;
  top: 12px;
  transform: rotate(25deg);
  filter: blur(8px);
}

.pop {
  animation: pop 0.5s linear forwards;
}

@keyframes up {
  to {
    transform: translateY(-100%);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.pop-text {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem !important;
  font-size: 24px;
  color: #ff5733;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0; /* Start with zero opacity */

  animation-name: popFade; /* Use the popFade animation */
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

/* Keyframes for the popFade animation */
@keyframes popFade {
  0% {
    transform: scale(0.5); /* Start with a smaller size */
    opacity: 0; /* Start with zero opacity */
  }
  80% {
    transform: scale(1); /* End with the original size */
    opacity: 1; /* End with full opacity */
  }

  100% {
    opacity: 0; /* End with full opacity */
  }
}
